/*
Theme Name: enamoredfree
Author: Tiffany Griffin
Author URI: http://beautifuldawndesigns.net
Description: Feminine Wordpress Theme
Version: 1.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: enamoredfree
Domain Path: /languages/ 
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
0.0 - Genericons
1.0 - Reset
2.0 - Responsive Grid
3.0 - Typography
4.0 - Elements
5.0 - Forms
	5.1 - Contact Form 7
6.0 - Header
	6.1 - Links
	6.2 - Logo and Title
	6.3 - Menus
7.0 - Accessibility
8.0 - Alignments
9.0 - Clearings
10.0 - Widgets
	10.1 - Social Widget
	10.2 - About Widget
11.0 - Site Content
	11.1 - Posts and pages
	11.2 - Asides
	11.3 - Gallery
	11.4 - Image
	11.5 - Comments
12.0 - Footer
13.0 - Infinite scroll
14.0 - Media
	14.1 - Captions
	14.2 - Galleries
15.0 Shortcodes
	15.1 - Responsive Slider
	15.2 - Dropcap
	15.3 - Buttons
	15.4 - Alerts
	15.5 - Highlights
	15.6 - Dividers
	15.7 - Archive
	15.8 - Recent Posts
16.0 Media Queries
17.0 Print
18.0 WooCommerce
--------------------------------------------------------------*/
/*--------------------------------------------------------------
0.0 - Genericons
--------------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Sacramento:400|Source+Sans+Pro:400);

@font-face {
    font-family: 'Genericons';
    src: url('fonts/genericons-regular-webfont.eot');
    src: url('fonts/genericons-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/genericons-regular-webfont.woff') format('woff'),
         url('fonts/genericons-regular-webfont.ttf') format('truetype'),
         url('fonts/genericons-regular-webfont.svg#genericonsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*--------------------------------------------------------------
1.0 - Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centered in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust:     100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
*,
*:before,
*:after { /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
	-webkit-box-sizing: border-box; /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
	-moz-box-sizing:    border-box; /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
	box-sizing:         border-box;
}
body {
	background: #fff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}
ol, ul {
	list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a:focus {
	outline: thin dotted;
}
a:hover,
a:active {
	outline: 0;
}
a img {
	border: 0;
}

/*--------------------------------------------------------------
2.0 Responsive Grid
--------------------------------------------------------------*/

.container {
	margin: 0 20px;
}

.column {
	margin-bottom: 1em;
}

@media (min-width: 1024px) {
	.column {
		float: left;
		margin-bottom: 0;
		padding: 0 40px;
	}
  
	.column.full { width: 100%; }
	.column.five-sixths { width: 83.4%; }
	.column.four-fifths { width: 80%; }
	.column.three-fourths { width: 75%; }
	.column.two-thirds { width: 66.7%; }
	.column.half { width: 50%; }
	.column.third { width: 33.3%; }
	.column.fourth { width: 25%; }
	.column.fifth { width: 20%; }
	.column.sixth { width: 16.6%; }
	.column.flow-opposite { float: right; }
	.column.centered { 
		margin-left: 15%;
		width: 70%;
	}
}

@media (min-width: 1090px) {
	.container {
		margin: 0 auto;
		width: 1140px;
	}
}

/*--------------------------------------------------------------
3.0 Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #746f6d;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
	font-size: 15px;
	line-height: 1.8;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
	    -ms-hyphens: auto;
			hyphens: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Sacramento', cursive, Arial, sans-serif;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 10px;
}
h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

p {
	margin-bottom: 1.5em;
}

b, strong {
	font-weight: bold;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
    border-left: 5px solid #dea288;
    margin-bottom: 20px;
    padding: 10px 20px;
}

address {
	font-style: italic;
	margin-bottom: 1.5em;
}

pre {
	background: #eee;
	font-family: 'Source Sans Pro', sans-serif, arial, sans-serif;
	font-size: 15px;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	background: #eee;
	color: #222;
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	padding: 0;
	white-space: normal;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
4.0 Elements
--------------------------------------------------------------*/
hr {
	background-color: #e5e5e5;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}


.post img {
        max-width: 95%;
}

ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
	color: #0a0700;
}

dd {
	margin-bottom: 1.5em;
}

figure {
	margin: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	line-height: 2;
	margin-bottom: 40px;
	width: 100%;
}

table th {
	font-weight: bold;
	padding: 10px 10px 10px 0;
	text-align: left;
}

table td {
	padding: 10px 10px 10px 0;
}

table tr {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

/*--------------------------------------------------------------
5.0 Forms
--------------------------------------------------------------*/
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: #dea288;
        border: 1px solid #dea288;
	color: #fff;
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	padding: 3px 15px;
        margin-top: 5px;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	opacity: 0.6;
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}

input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	width: 100%;
        border: 1px solid #6c6c6c;
        color: #746f6d;
        font-size: 14px;
        padding: 16px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 98%;
}

/*--------------------------------------------------------------
5.1 Contact Form 7
--------------------------------------------------------------*/
.wpcf7-form-control-wrap {
	display: inline;
}

.wpcf7 input[type="text"], 
.wpcf7 input[type="email"], 
.wpcf7 input[type="url"], 
.wpcf7 input[type="password"],
.wpcf7 textarea {
	background-color: #ffffff;
	border: 1px solid #c6c6c6;
	border-radius: 0;
	outline-color: transparent;
	outline-style: none;
	padding: 10px;
	width: 100%;
}

.wpcf7 input[type="text"]:focus,
.wpcf7 input[type="email"]:focus,
.wpcf7 input[type="url"]:focus,
.wpcf7 input[type="password"]:focus,
.wpcf7 textarea:focus {
	background-color: #fff;
	color: #111;
}

.wpcf7 input[type="submit"] {
	border: 1px solid #4d4d4d; 
	border-radius: 0;
	background: #746f6d;
	box-shadow: none;
	color: #fff;
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1;
	outline-color: transparent;
	outline-style: none;
	padding: 1em 1em 0.9em;
	text-shadow: 0;
	width: 100%;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.wpcf7 input[type="submit"]:hover {
	opacity: 0.6;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}


/*--------------------------------------------------------------
6.0 Header
--------------------------------------------------------------*/
html {
	border-top: 10px solid #fff;
}

.site-header {
	padding-top: 2em;
	padding-bottom: 1em;
}

.header-image {
	margin-top: 1em;
}

/*--------------------------------------------------------------
6.1 Links
--------------------------------------------------------------*/
a {
	color: #dfa288;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

a:visited {
	color: #dfa288;
}

a:hover,
a:focus,
a:active {
	color: #dfa288;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

/*--------------------------------------------------------------
6.2 Logo and Title
--------------------------------------------------------------*/
.site-branding {
	margin-bottom: 1em;
	text-align: center;
}

.site-title {
	font-size: 7rem;
	font-weight: 400;
	line-height: 1;
	margin-top: 25px;
	margin-bottom: 0;
}

	.site-title a {
        text-decoration: none;
        color: #746f6d;
	}

.site-description {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
        text-transform: uppercase;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 8px;
}

/*--------------------------------------------------------------
6.3 Menus
--------------------------------------------------------------*/
.menu {
	display: table;
	margin: 0 auto;
}

.main-navigation {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	padding: 7px;
	text-transform: lowercase;
        border-top: 1px solid #c6c6c6;
        border-bottom: 1px solid #c6c6c6;
}
	.main-navigation a {
		color: #746f6d !important;
		text-decoration: none;
	}

#site-navigation {
        background-color: #ffffff;
}

.main-navigation ul {
	list-style: none;
	margin: 0 auto;
	padding-top: 3px;
}

.main-navigation li {
	display: inline;
	float: left;
	margin: 0 1em;
	position: relative;
}

.main-navigation ul ul { /* Drop Down Menu */
	background-color: #ffffff;
	display: none;
	float: left;
	left: -1em;
	padding: 0.5em 1em;
	position: absolute;
	top: 1.8em;
	z-index: 99999;
}

.main-navigation ul ul li {
	margin: 0;
	width: 230px;
}

.main-navigation ul li:hover > ul {
	display: block;
}

.main-navigation li.menu-item-has-children:after {
  content: '\f431';
  color: #727172;
  font-family: 'Genericons';
  font-size: 12px;
}

/* Small menu */
.menu-toggle {
	display: none;
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 3.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/* Paging Navigation */
.pagination {
	clear: both;
	padding: 30px 15px;
	overflow: hidden;
	text-align: left;
}

.pagination a {
	padding: 7px 10px;
	margin-right: 5px;
	background: #746f6d;
	color: #fff;
}

.pagination a:hover, .pagination .current {
	padding: 7px 10px;
	margin-right: 5px;
	background: #de9e83;
	color: #fff;
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0;
	overflow: hidden;
}

.paging-navigation {
	padding: 0 15px;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
	padding-bottom: 2.5em;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
7.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
8.0 Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin: 1em 1.5em 1em 0;
}

.alignright {
	display: inline;
	float: right;
	margin: 1em 0 1em 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/*--------------------------------------------------------------
9.0 Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: '';
	display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

.clear {
  *zoom: 1;
}

/*--------------------------------------------------------------
10.0 Widgets
--------------------------------------------------------------*/
.widget-area {
        background-color: #eee;
	padding: 10px 15px 30px 15px;
        margin-bottom: 15px;
        text-align: center;
}

.widget {
	margin: 0 0 2.5em;
	word-wrap: break-word;
}

.widget a {
	text-decoration: none;
}

.widget ul {
	list-style: none;
	margin-left: 0;
}

.widget-title {
	background-color: #ffffff;
	color: #746f6d;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	list-style: none;
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 1.5em;
	text-transform: uppercase;
}

	.widget-title a {
		text-decoration: none;
	}

/* Make sure select elements fit in widgets */
.widget select {
	width: 100%;
        border: 1px solid #c6c6c6;
        color: #746f6d;
        font-size: 14px;
        padding: 16px;
}

/* Search widget */

.widget_search .search-submit { /* This will remove the "submit" button from the search box*/
	display: none;
}

.widget_search input[type="search"] {
	width: 90%;
        border: 1px solid #c6c6c6;
        color: #746f6d;
        font-size: 14px;
        padding: 14px;
}

/*--------------------------------------------------------------
10.1 Social Widgets
--------------------------------------------------------------*/
.widget-social a {
	text-decoration: none;
}

.widget-social a:hover {
	opacity: 0.6;
}

.social {
	background-color: #dea288;
	border-radius: 50%;
	font-family: 'Genericons';
	font-size: 18px;
	overflow: hidden;
	padding: 0.5em;
	margin-right: 6px;
	line-height: 2.5;
}

.social:before {
	color: #fff;
}

.social-feed:before { content: '\f413'; }
.social-email:before { content: '\f410'; }
.social-linkedin:before { content: '\f207'; }
.social-bloglovin:before { content: '\f461'; }
.social-twitter:before { content: '\f202'; }
.social-facebook:before { content: '\f204'; }
.social-googleplus:before { content: '\f206'; }
.social-pinterest:before { content: '\f209'; }
.social-instagram:before { content: '\f215'; }
.social-flickr:before { content: '\f211'; }
.social-youtube:before { content: '\f213'; }
.social-vimeo:before { content: '\f212'; }
.social-dribbble:before { content: '\f201'; }
.social-github:before { content: '\f200'; }
.social-skype:before { content: '\f220'; }
.social-tumblr:before { content: '\f214'; }
.social-wordpress:before { content: '\f205'; }

/*--------------------------------------------------------------
10.2 About Widget
--------------------------------------------------------------*/
.about-image {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: center;
}

.about-image img {
	border-radius: none;
}

/*--------------------------------------------------------------
11.0 Site Content
--------------------------------------------------------------*/
#primary {
	padding-top: 2em;
}

#secondary {
	padding-top: 2em;

}

/*--------------------------------------------------------------
11.1 Posts and pages
--------------------------------------------------------------*/
.sticky {
}

.bypostauthor {
}

.hentry {
	margin: 0 0 3.5em;
}

/* Thumbnail */
.entry-thumbnail {
	padding-top: 1em;
	text-align: center;
}

.thumb-layout {
  padding: 0 !important;
}

/* Entry Title */
.entry-title {
	font-family: 'Sacramento', cursive, Arial, sans-serif;
	font-weight: 400;
	font-size: 30px;
	font-weight: 400;
        text-align: center;
	text-transform: lowercase;
	line-height: 1;
	margin-top: 0;
	margin-bottom: 10px !important;
	text-transform: lowercase;
}

	.entry-title a {
		text-decoration: none;
                color: #746f6d;
	}

	.entry-title a:hover {
		color: #746f6d !important;
	}

/* Entry Content */
.entry-content {
	white-space: normal;
}

.entry-content p:last-child {
	margin-bottom: 0; 
}

a.more-link {
	position: relative;
        margin-left: 7px;
}

.entry-content ul li, 
.entry-content ol li, 
#comments ul li, 
#comments ul li {
	margin-bottom: 12px;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1em 0;
}

.no-results .page-content {
	margin: 1.5em 0;
	padding-bottom: 1em;
}

/* Entry Meta */
.entry-meta {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 13px;
	font-weight: 400;
        text-transform: lowercase;
        text-align: center;
        margin-bottom: 12px;
}

	.entry-meta a {
		color: #746f6d !important;
		text-decoration: none;
	}

		.entry-meta a:hover {
			text-decoration: none;
		}

.entry-meta .comments-link:before {
	content: " - ";
}

.byline,
.updated {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

/* Page Links */
.page-links {
	clear: both;
	margin: 0 0 1.5em;
	word-spacing: 18px;
}

/* Entry Footer */
.entry-footer {
        font-family: 'Source Sans Pro', sans-serif;
	padding-top: 1em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #eee;
        max-width: 98%;
}

	.entry-footer a {
		color: #dfa288!important;
		text-decoration: none;
	}

	.entry-footer a:hover {
		text-decoration: none;
	}

.blog .entry-footer,
.search-results .entry-footer,
.archive .entry-footer {
	padding-bottom: 3.5em;

}

.page .entry-footer {
	border-bottom: 0;
}

.entry-divider {
	height: 10px;
	margin: 0 auto;
	width: 100%;
}

/* Entry Navigation */
.meta-nav {
	font-size: 13px;
}

.nav-links a {
	text-decoration: none;
}

/* Archives Page */
.page-header {
	margin-bottom: 1.5em;
}

.page-title {
	line-height: 1;
	margin-top: 0;
        font-size: 28px;
}

.page-header p {
	font-style: italic;
	margin-bottom: 0.5em;
}

/* 404 Page */
.error-404 .widget,
.error-404 .widget-title {
	text-align: left;
}


/* Go to top */
.smoothup { 
	bottom: 22px;
	display: none;
	position: fixed;
	right: 10px;
	transition: all 0.2s ease-in-out 0s;
}

	a.smoothup { 
		text-decoration: none;
	}

/*--------------------------------------------------------------
11.2 Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
11.3 Gallery
--------------------------------------------------------------*/
.single-post .format-gallery .entry-thumbnail {
	display: none;
}

/*--------------------------------------------------------------
11.4 Image
--------------------------------------------------------------*/
.single-post .format-image .entry-thumbnail {
	display: none;
}

/*--------------------------------------------------------------
11.5 Comments
--------------------------------------------------------------*/
.comments-title {
	font-size: 25px;
}

.comment-list {
	list-style: none;
	margin-left: 0;
}

	.comment-list li {
		padding-top: 30px;
	}

.comment-body {
	border-bottom: 1px solid #f2f2f2;
}

.comment-author {
	float: left;
}

	.comment-author img {
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 50%;
		display: block;
	}

.comment-meta {
	padding-bottom: 20px;
        font-family: 'Sacramento', cursive, Arial, sans-serif;
}

	.comment-meta .fn {
		color: #24282d;
                font-size: 20px;
		font-weight: 400;
		font-style: normal;
		text-transform: normal;
	}

		.comment-meta .fn a {
			color: #404040;
			text-decoration: none;
		}

.comment-meta-details {
	color: #746f6d;
	font-family: 'Source Sans Pro', sans-serif, arial, sans-serif;
	font-size: 13px;
	line-height: 1.3;
	padding-top: 5px;
	text-align: center;
	text-align: left;
}

	.comment-meta-details a {
		text-decoration: none;
	}

.comment-content {
	margin-left: 80px;
}

	.comment-content a {
		word-wrap: break-word;
	}

.comment-list .children {
	list-style: none;
	margin-left: 80px;
	position: relative;
}

	.comment-list .children .depth-5 {
		padding-top: 30px;
	}

/*--------------------------------------------------------------
12.0 Footer
--------------------------------------------------------------*/
.site-footer {
        background-color: #eee;
	padding: 2em 0;
	text-align: center;
}

/*--------------------------------------------------------------
13.0 Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
14.0 Media
--------------------------------------------------------------*/
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
14.1 Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

	.wp-caption img[class*="wp-image-"] {
		display: block;
		margin: 0 auto;
	}

.wp-caption-text {
	font-style: italic;
	line-height: 24px;
	text-align: center;
}

.wp-caption .wp-caption-text {
	margin: 1em 0;
}

/*--------------------------------------------------------------
14.2 Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	margin-bottom: 10px;
	padding-right: 2.6%;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

	.gallery-item img {
		height: auto;
		width: 100%;
	}

/* These percentages determine the width of your columns - including the post content and sidebar area.*/

.gallery-columns-2 .gallery-item { max-width: 50%; }
.gallery-columns-3 .gallery-item { max-width: 33.33%; }
.gallery-columns-4 .gallery-item { max-width: 25%; }
.gallery-columns-5 .gallery-item { max-width: 20%; }
.gallery-columns-6 .gallery-item { max-width: 16.66%; }
.gallery-columns-7 .gallery-item { max-width: 14.28%; }
.gallery-columns-8 .gallery-item { max-width: 12.5%; }
.gallery-columns-9 .gallery-item { max-width: 11.11%; }

.gallery-caption {
	font-style: normal;
}

/*--------------------------------------------------------------
15.0 Shortcodes
--------------------------------------------------------------*/
/*--------------------------------------------------------------
15.1 Responsive Slider
--------------------------------------------------------------*/
/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0 0 30px; background: #fff; position: relative; zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { text-decoration:none; display: block; width: 40px; height: 40px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flex-direction-nav .flex-prev { left: -50px; }
.flex-direction-nav .flex-next { right: -50px; text-align: right; }
.flexslider:hover .flex-prev { opacity: 1; left: 0; color: #efefef; }
.flexslider:hover .flex-next { opacity: 1; right: 0; color: #efefef;  }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: "Genericons"; font-size: 40px; line-height:1; display: inline-block; content: '\f503'; }
.flex-direction-nav a.flex-next:before  { content: '\f501'; }

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav { display: none; width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}

.slide-title {
	display: none;
}

/*--------------------------------------------------------------
15.2 Dropcap
--------------------------------------------------------------*/
.dropcap {
	float: left;
	font-size: 52px;
	font-weight: bold;
	line-height: 0.8;
	padding: 0 6px 0 0;
}

/*--------------------------------------------------------------
15.3 Buttons
--------------------------------------------------------------*/
.button {
	color: #fff;
	cursor: pointer;
	display: inline-block;
	margin: 0 0 1em;
	padding: 10px 15px;
	text-align: center;
}

	a.button {
		color: #fff !important;
		text-decoration: none;
	}

		a:hover.button {
			color: #fff;
			opacity: 0.6;
		}

/* Colors */
.grey { background-color: #c2c1c1; }
.yellow { background-color: #ede404; }
.green { background-color: #3d9e71; }
.red { background-color: #de3c3c; }
.blue { background-color: #3535d0; }
.purple { background-color: #901b90; }
.black { background-color: #000000; }

/* Size */

.small { 
	font-size: 14px; 
	padding: 10px 15px; 
}

/* Type */
.square { border-radius: 0; }

/* Display */
.inline { display: inline; }
.block { display: block; }

/*--------------------------------------------------------------
15.4 Alerts
--------------------------------------------------------------*/
.alert {
	color: #fff;
	font-size: 18px;
	margin: 0 0 1em;
	padding: 3% 5%;
	text-align: center;
	width: 100%;
}

/* Text Align */
.left { text-align: left; }
.right { text-align: right; }

/*--------------------------------------------------------------
15.5 Highlights
--------------------------------------------------------------*/
.highlight {
	color: #fff;
}

/*--------------------------------------------------------------
15.6 Dividers
--------------------------------------------------------------*/
.divider {
	background: none;
	display: block;
	margin: 20px auto;
	height: 0;
	width: 100%;
}

/* Colors */
.divider.grey { border-color: #c2c1c1; }
.divider.yellow { border: #ede404; }
.divider.green { border-color: #3d9e71; }
.divider.red { border-color: #de3c3c; }
.divider.blue { border-color: #3535d0; }
.divider.purple { border-color: #901b90; }
.divider.black { border-color: #000000; }

/* Type */
.solid { 
	border-top: 1px solid #ccc; 
}

.dashed { 
	border-top: 1px dashed #ccc; 
}

.dotted { 
	border-top: 1px dotted #ccc; 
}

.filled { 
	border-top: 5px solid #ccc; 
}

.double-solid { 
	border-top: 1px solid #ccc; 
	border-bottom: 1px solid #ccc; 
	height: 5px; 
}

.double-dashed { 
	border-top: 1px dashed #ccc; 
	border-bottom: 1px dashed #ccc; 
	height: 5px; 
}

.double-dotted  { 
	border-top: 1px dotted #ccc; 
	border-bottom: 1px dotted #ccc; 
	height: 5px; 
}

/*--------------------------------------------------------------
15.7 Archive
--------------------------------------------------------------*/
ul.shortcode-archive { 
	list-style: none;
	margin: 0;
	padding-bottom: 1em;
}

ul.shortcode-archive li { 
	margin-bottom: 5px;
}

.shortcode-archive-title:before { 
	content: '\f436';
	font-family: 'Genericons';
}

.shortcode-archive-title { 
	text-transform: normal;
}

.shortcode-date { 
	color: #ccc;
	padding-left: 10px;
}

/*--------------------------------------------------------------
15.9 Recent Posts
--------------------------------------------------------------*/
.recent-posts .column {
	margin-bottom: 30px;
}

.recent-posts-thumb .column {
	margin-bottom: 30px;
}

@media (min-width: 1024px) {
	.recent-posts {
		margin: 0 -15px;
	}

	.recent-posts-thumb .entry-header,
	.recent-posts-thumb .entry-summary {
		padding-left: 10px;
	}

	.page-template-page-left-sidebar .recent-posts-thumb .entry-header,
	.page-template-page-left-sidebar .recent-posts-thumb .entry-summary {
		padding-left: 0;
		padding-right: 10px;
	}

	.recent-posts .column.half:nth-child(2n+1) { clear: both; }
	.recent-posts-thumb .column.half:nth-child(2n+1) { clear: both; }
	.recent-posts .column.third:nth-child(3n+1) { clear: both; }
	.recent-posts .column.fourth:nth-child(4n+1) { clear: both; }
}

/*--------------------------------------------------------------
16.0 Media Queries
--------------------------------------------------------------*/
@media (max-width: 600px) {
	.entry-meta {
		font-size: 12px !important;
	}
}

@media screen and (min-width: 1024px) {
	#secondary {
		padding-left: 0;
		padding-right: 0;
	}

	.site-content	{
		overflow: hidden;
		margin-left: 0;
		margin-right: 0;
	}

	.row-shortcode {
		margin: 0 -15px;
		padding-bottom: 2em;
	}

	.page-template-layoutspage-left-sidebar-php .column,
	.left-sidebar .column {
		float: right !important;
	}

	.page-template-layoutspage-left-sidebar-php .site-footer .column,
	.left-sidebar .site-footer .column {
		float: left !important;
	}

	.page-template-layoutspage-left-sidebar-php .page-title,
	.left-sidebar .page-title {
		text-align: right;
	}
}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: -10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}

@media screen and (max-width: 1023px) {
	#primary {
		padding-top: 1em;
	}

	#secondary {
		border-top: 1px solid #404040;
	}

	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	button.menu-toggle {
		background: none; 
		border: 0;
		box-shadow: none;
		color: #8e8e8e;
		margin: 0 auto;
		outline-style: none;
		text-shadow: none;
		text-transform: normal;
	}

	.main-navigation {
		display: block;
		float: none;
		margin: 0 auto;
	}

		.main-navigation a {
			display: block;
			padding: 0.5em 0;
			text-decoration: none;
		}

	.main-navigation ul {
		display: none;
	}

		.main-navigation li {
			float: none;
			margin: 0;
			position: relative;
			padding: 0;
			text-align: center;
		}

		.main-navigation li:last-child {
			border-bottom: 0;
		}

	.main-navigation ul li > ul {
		display: block;
		margin-left: 0;
	}

	.main-navigation ul ul {
		border-left: 0;
		box-shadow: none;
		display: block;
		float: none;
		left: 0;
		padding: 0;
		position: relative;
		top: 0;
		text-transform: capitalize;
		z-index: 99999;
	}

	.main-navigation ul ul li {
		border-bottom: 0;
		padding: 0;
	}

	.main-navigation li.menu-item-has-children:after {
		display: none;
	}

	/* Widget */
	.widget-area {
		margin-left: -15px;
		margin-right: -15px;
	}

	.widget_search input[type="search"] {
		width: 90%;
	}
}

/*--------------------------------------------------------------
17.0 Print
--------------------------------------------------------------*/
@media print {
	body {
		background: none !important; /* Brute force since user agents all print differently. */
		color: #2b2b2b;
		font-size: 12pt;
	}

	.hentry,
	.site-content .entry-header,
	.site-content .entry-content,
	.site-content .entry-summary,
	.site-content .entry-meta,
	.page-content,
	.archive-header,
	.page-header {
		max-width: 100%;
	}

	.edit-link,
	.page-links,
	.widget-area,
	.more-link,
	.site-footer,
	.smoothup,
	#social-box,
	.nav-links,
	.comments-area {
		display: none;
	}

	.site-title a,
	.entry-meta,
	.entry-meta a {
		color: #746f6d;
	}

	.entry-content a,
	.entry-summary a,
	.page-content a,
	.comment-content a {
		text-decoration: none;
	}

	.site-header,
	.entry-thumbnail,
	.site-content .entry-header,
	.site-footer {
		background: transparent;
	}

	.site-title {
		float: none;
		font-size: 19pt;
	}

	.content-area {
		padding-top: 0;
	}

	.entry-thumbnail img {
		margin: 0 10px 24px;
	}

	.archive-title,
	.page-title {
		margin: 0 10px 48px;
	}
}

/*--------------------------------------------------------------
18.0 Woocommerce
--------------------------------------------------------------*/
.woocommerce #secondary {
	display: none !important;
}

.woocommerce .site-content {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

@media (min-width: 1024px){
	.woocommerce .related ul li.product, 
	.woocommerce .related ul.products li.product, 
	.woocommerce .upsells.products ul li.product, 
	.woocommerce .upsells.products ul.products li.product, 
	.woocommerce-page .related ul li.product, 
	.woocommerce-page .related ul.products li.product, 
	.woocommerce-page .upsells.products ul li.product, 
	.woocommerce-page .upsells.products ul.products li.product {
		width: 33.3% !important;
	}
}

.woocommerce .amount {
	font-size: 1.5em !important;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	text-align: center !important;
}

.woocommerce span.onsale {
	top: 0.5em !important;
	left: 0.5em !important;
       -webkit-font-smoothing: none !important;
       border-radius: 0 !important;
       width: 55px;
}


.woocommerce .woocommerce-breadcrumb {
	visibility: hidden !important;
}

.woocommerce ul.products li.product h3 {
	font-size: 23px !important;
}

.woocommerce div.product .product_title {
	text-align: left !important;
        text-transform: capitalize !important;

.woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit, .woocommerce #content input.button, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce-page #respond input#submit, .woocommerce-page #content input.button {
	border-radius: 0 !important;
	border: none !important;

}

.woocommerce .woocommerce-ordering select {
       padding: 14px !important;
}


/* DEMO */
.demo .genericon {
	padding: 10px;
	display: inline-table;
}
