/* Menu */
#wrap .main-navigation.responsive-menu .menu,
.main-navigation:not(.responsive-menu) ul ul {
	display: block;
	visibility: hidden; /* hack to make touch dropdown work in ios */
	opacity: 0;
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

	-moz-transition: visibility 0s ease-in-out 0.2s, opacity 0.2s ease-in-out;
	-o-transition: visibility 0s ease-in-out 0.2s, opacity 0.2s ease-in-out;
	-webkit-transition: visibility 0s ease-in-out 0.2s, opacity 0.2s ease-in-out;
	transition: visibility 0s ease-in-out 0.2s, opacity 0.2s ease-in-out;
}
#wrap .main-navigation.responsive-menu.toggled .menu,
.main-navigation:not(.responsive-menu) ul li:hover > ul {
	opacity: 1;
	visibility:visible; /* hack to make touch dropdown work in ios */

	/* hack to make touch dropdown work in ios */
	-webkit-transition-delay:0s;
    -moz-transition-delay:0s;
    -ms-transition-delay:0s;
    -o-transition-delay:0s;
    transition-delay:0s;
}

/* Links */
button,
input,
select,
textarea,
a {
	-moz-transition: all 150ms ease-in;
	-o-transition: all 150ms ease-in;
	-webkit-transition: all 150ms ease-in;
	transition: all 150ms ease-in;
}

/* Tabs */
.wc-shortcodes-tabs .wcs-tabs-nav li a {
	/* Disable */
	-moz-transition: none;
	-o-transition: none;
	-webkit-transition: none;
	transition: none;
}

/* Gallery */
.wpc2-thumbnail-grid .gallery-caption,
.wc-gallery-captions-onhover .gallery-caption {
	display: block !important;
	opacity: 0;
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

	-moz-transform: translate(0, 100%);
	-ms-transform: translate(0, 100%);
	-webkit-transform: translate(0, 100%);
	transform: translate(0, 100%);

	-moz-transition: -moz-transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-o-transition: -o-transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-transition: -webkit-transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
	transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.wpc2-thumbnail-grid .gallery-item:hover .gallery-caption,
.wc-gallery-captions-onhover .gallery-item:hover .gallery-caption {
	opacity: 1;
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}
.gallery-item {
	overflow: hidden;
}
/* https://bugzilla.mozilla.org/show_bug.cgi?id=745549 */
.gallery .gallery-icon a img {
	box-shadow: #000 0em 0em 0em;
}
/* Navigation Arrows */
.wc-gallery .owl-theme .owl-controls .owl-nav .owl-next,
.wc-gallery .owl-theme .owl-controls .owl-nav .owl-prev {
	display: block;
	opacity: 0;
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

	-moz-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	-webkit-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}
.wc-gallery .owl-theme:hover .owl-controls .owl-nav .owl-next,
.wc-gallery .owl-theme:hover .owl-controls .owl-nav .owl-prev {
	opacity: 1;
}
