/*!
 * print.css v1.0.0
 *
 * Copyright (c) 2011 Chris Baldelomar
 *
 * Author: Chris Baldelomar
 * http://webplantmedia.com/
 */

/* use a media query to limit the CSS to only print devices, like a printer */
@media only print {
	.header-navigation,
	.site-header,
	.main-navigation,
	.widget-area,
	.site-footer,
	.site-info,
	.navigation,
	.entry-footer,
	.author-info,
	.comments-area {
		display: none !important;
	}

	.site-boundary,
	.content-area {
		width: 100% !important;
	}

	* {
		background: transparent !important;
		color: #000000 !important;
		text-shadow: none !important;
		filter:none !important;
		-ms-filter: none !important;
	}
	a, a:visited, a:focus, a:active, a:hover {
		color: #000000 !important;
		text-decoration: underline !important;
	}
	pre, blockquote {
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
	}
	tr, img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}
	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}
	h2, h3 {
		page-break-after: avoid;
	}
}
